<style>
.cancel_btn {
    font-size: 14px;
    color: #000;
}

.cancel_btn:hover {
	background-color: #eee;
}

.card-footer {
	padding: 0px 0px 20px 20px;
}

.text_placeholder {
	padding : 70px 0px;
	text-align: center;
    border: 2px dashed #888 !important;
}

.text_placeholder:hover {
	opacity: 0.6;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	border: 2px dashed #ffffff !important;
}

.description_block {
	height: 150px;
}

.description_text {
	font-size:13px;
}

.edit_button {
	margin-right: 5%;
}

</style>
<data ui-view>
	<h1> Hello Rushang! </h1>
</data>
